body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.top {
  width: 100%;
  background-image: url("../images/bgc2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  display: flex;
  /* border: 1px solid blue; */
}
.box {
  padding: 10% 0 0 0%;
}

.top-box {
  /* border: 1px solid blue; */
  margin-top: 5%;
  padding-left: 5%;
  width: 40%;
  margin-left: 5%;
  font-size: 2vw;
  /* border: 1px solid black; */
}
.top-box img {
  width: 100%;
}
h1 span {
  color: rgb(8, 21, 197);
}

.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, rgb(12, 12, 11), rgb(8, 21, 197));
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.2vw;
}

/* 2nd section */

.middle {
  width: 100%;
  background-image: url("../images/bgc1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.middle-box {
  margin-top: 5%;
  width: 43%;
  margin-left: 5%;
  /* border: 1px solid black; */
  padding-top: 3%;
}

.middle-box img {
  width: 100%;
}
.midle-box {
  padding-top: 5%;
}
.midle-box h1 {
  font-size: 4vw;
  letter-spacing: 2px;
}
.para {
  padding-top: 5%;
  margin: 5% 8% 5% 5%;
  letter-spacing: 2px;
  font-weight: 700;
  /* border: 1px solid black; */
  text-align: justify;
}

.para p {
  font-size: 1.3vw;
}

.btn {
  margin: 25% 0;
}

/* Third Section */

.second-last {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
}
.container {
  margin: 0 8%;
  padding-bottom: 5%;
}

.recipe {
  width: 40%;
  text-align: center;
  margin: auto;
  padding-top: 2%;
  font-size: 1.5vw;
}
.recipe h1 {
  font-size: 3vw;
}
.sl {
  width: 48%;
  /* border: 1px solid black; */
  padding-top: 0;
  margin: 5% 1%;
  background-color: white;
  border-radius: 20px;
}

.half-img1 {
  height: 45vh;
  width: 90%;
  margin: 5%;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-image: url("../images/11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.half-img1 .half-img2 img {
  width: 100%;
  border-radius: 20px;
}
.half-img2 {
  height: 45vh;
  width: 90%;
  margin: 5%;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-image: url("../images/12.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  padding-left: 5%;
  font-size: 1.2vw;
  font-weight: 700px;
}

.calc {
  width: 100%;
  height: 25vh;

  margin: -2% 0 0 0;
  border-radius: 20px;
  background-color: white;
  display: flex;
  text-align: center;
  font-size: 1.2vw;
}
.calc h2 {
  font-weight: 900px;
  margin-bottom: 0;
}
.dv1 {
  flex: 1;
  margin: auto;
}
.dv2 {
  flex: 1;

  margin: auto;
}
.dv3 {
  flex: 1;
  margin: auto;
}
.wb {
  background-color: black;
  height: 20vh;
  width: 100%;
  color: #5b5b5b;
  text-align: center;
  padding: 0.3% 0;
}

#hi {
  color: #fba24f;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .top {
    padding-bottom: 15%;
  }
  .top .banner {
    flex-direction: column-reverse;
  }
  .top-box {
    width: 90%;
    padding-left: 0;
  }
  .box {
    padding: 0;
    text-align: center;
    margin: 15% 0;
    font-size: 3vw;
  }
  .box p {
    padding: 0 15% 0 15%;
  }
  .top-box {
    margin-top: 5%;
    text-align: center;
  }
  .middle .banner {
    flex-direction: column;
  }
  .middle-box {
    width: 90%;
    text-align: center;
  }
  .btn {
    margin: 15% 0;
  }

  .recipe {
    width: 65%;
    font-size: 2.5vw;
  }
  body h1 {
    font-size: 7vw !important;
  }

  .second-last .banner {
    flex-direction: column;
  }
  .sl {
    width: 100%;
  }
  .half-img {
    height: 25vh;
  }
  .content {
    font-size: 4.2vw;
    font-weight: 700px;
  }
  .calc {
    width: 100%;
    height: 25vh;
    margin: 10% 0 10% 0;

    font-size: 3vw;
  }
  .ft {
    text-align: center;
    padding: 0 10%;
  }
}
